<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link type="text/css" href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link type="text/css" href="../static/vendor/font-awesome/css/font-awesome.min.css"  th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"  rel="stylesheet">
    <link type="text/css" href="../static/vendor/devicons/css/devicons.min.css" th:href="@{/vendor/devicons/css/devicons.min.css}" rel="stylesheet">
    <link type="text/css" href="../static/vendor/simple-line-icons/css/simple-line-icons.css" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link type="text/css" href="../static/css/resume.min.css"  th:href="@{/css/resume.min.css}" rel="stylesheet">

    <title>Rotten Potatoes</title>
  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Start Bootstrap</span>
        <span class="d-none d-lg-block" sec:authentication="name">NAME</span>
        
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#directors" th:href="@{/director/list}">Directors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#genres">Movie Genres</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="movies">
        <div class="my-auto">
			<div th:replace="fragments/movies :: movielist"></div>
        </div>
      </section>
      
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="directors">
        <div class="my-auto">

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="genres">
        <div class="my-auto">
			<div th:replace="fragments/genres :: genrelist"></div>
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/resume.min.js" th:src="@{/js/resume.min.js}"></script>

  </body>

</html>